body {
    height: 100vh;
    columns: #000000;;
    background:  #ffffff;
}

.album a {
  text-decoration: none;
}

.album a:hover,
.album a:focus {
  color: #dddddd;
}

.header-bkg {
  background: url('/img/header-img.jpg') no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
}

.card {
  margin: 40px 20px 0px 20px;
}