body {
    height: 100vh;
    columns: #000000;;
    background:  #ffffff;
}

.album a {
  text-decoration: none;
}

.album a:hover,
.album a:focus {
  color: #dddddd;
}

.header-bkg {
  background: url('/img/header-img.jpg') no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
}

main {
  padding: 100px 0px 100px 0px;
}

main .card-title {
  font-size: 28px;
}

.page-footer {
  background-color: #274189;
  color: #ffffff;
}


