body {
    height: 100vh;
    columns: #000000;;
    background:  #ffffff;
}

.album a {
  text-decoration: none;
}

.album a:hover,
.album a:focus {
  color: #dddddd;
}

.header-bkg {
  background-color: #517CEE !important;
}

.card {
  height: 95%;
  color: #000000;
}

.card-body {
  padding: 0;
}

.card-text {
  width: 100%;
  padding: 0px 15px 30px 15px;
  margin-bottom: 10px;
  text-align: center;
}
